ibchatbot (1).json
{
  "name": "ibchatbot",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "67fce2a7-32dd-41a2-80c9-c77ca366e73c",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -272,
        0
      ],
      "id": "f8379528-5a18-419f-976f-3f67424ab83a",
      "name": "Webhook",
      "webhookId": "67fce2a7-32dd-41a2-80c9-c77ca366e73c"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a smart and friendly AI assistant for IB Group.\n\nIMPORTANT RULES:\n\n1. First decide:\n\n   * Is this casual chat OR a real question?\n\n2. If casual (hi, hello, how are you, thanks, ok):\n   → reply naturally like a human\n   → DO NOT use any tool\n\n3. If it is a question:\n   → rewrite the user query into a clear search query\n   → then MUST use the retrieval tool to search\n\n4. After using the tool:\n\n   * If relevant information is found → answer clearly\n   * If not found:\n     → answer using general knowledge if possible\n     → otherwise  give contact info of the ib\n   * if asked for contact retive contact from tool and in poultry contact  give this -> poultry mobile : Nazrul [ +91-9109139704]\n                             Amit [  +91-9452109055]\n\n\n5. NEVER say:\n\n   * you are trained by Google\n   * you are a language model\n\n6. Keep answers:\n\n   * short\n   * simple\n   * helpful\n\n\n\n---\n\nUser:\n\n{{ $json.body.message }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "b2c802d9-0b03-427b-a36e-d5b518cea85b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        208,
        176
      ],
      "id": "12654f26-5b2b-45b7-bfc7-6e990ebf7704",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "aU0tpJ2s7XQ3nEos",
          "name": "Google Gemini(PaLM) Api account 11"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.sessionId }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        304,
        176
      ],
      "id": "e867daa1-f8df-4ee6-8800-30cab4767447",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "use this tool to get answers",
        "memoryKey": {
          "__rl": true,
          "value": "ib",
          "mode": "list",
          "cachedResultName": "ib"
        },
        "topK": 5
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        432,
        208
      ],
      "id": "0b27f1c2-7844-44d0-845c-01feacb71d00",
      "name": "Simple Vector Store"
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        432,
        464
      ],
      "id": "a6dc0d95-1f3d-4701-8122-34a2f6549cd9",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "aU0tpJ2s7XQ3nEos",
          "name": "Google Gemini(PaLM) Api account 11"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"response\": {{JSON.stringify($json[\"output\"])}}\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        656,
        16
      ],
      "id": "aba0d429-9b3f-4a54-a0bf-67be66908f51",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Simple Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Simple Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "adb0ea4d-9478-4b05-b456-6d9df8042b1a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5a064eab1f268946bc007c4172b2fb6debef9dbda2a90313cc0c931db4dbf7e6"
  },
  "id": "jTIyXMqfdOx4xKyG",
  "tags": []
}